@charset "utf-8";
/* CSS Document */

body
{
/*background-color:#d0e4fe;*/
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:14px;
}

input { text-transform: uppercase }

/*span { text-transform:uppercase }*/

.border {border-top:3px solid #d75b11; height:1px; margin:0 0 1px 0; padding:0}


/*input { border:1px solid #cccccc; color:#666666; width:99%; padding:5px 3px; border-radius:3px }
input:focus { transition: 500ms ease-in-out; color:#000000; border:1px solid #de5142 }*/


/*.text { width:96%; padding:6px 5px; border:1px solid #cccccc; color:#999999; border-radius:3px; background:none }
.text:focus { transition: 500ms ease-in-out; color:#000000; border:1px solid #f36a5a; background:#FFF }*/


