@charset "utf-8";
/* CSS Document */

body
{
/*background-color:#d0e4fe;*/
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:14px;
}

input {
    text-transform: uppercase;
}

/*span {
 text-transform:uppercase;
}*/